@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
/*---break--- */
@custom-variant dark (&:is(.dark *));

@theme {
  --font-family-instrument: "Instrument Sans", "sans-serif", serif;
  --color-primary-dark: #111111;
  --color-primary-light: #ffffff;
  --color-secondary-muted: #71717a;
  --color-secondary-light: #dcdcde;
  --z-index-header: 10;
  --z-index-dropdown: 20;
  --z-index-sidebar: 30;
  --z-index-modal: 40;
  --z-index-toast: 50;
  /* --color-beige: #efd6af;
  --color-navy-blue: #0a294c;
  --color-navy-dark-blue: #0e0e55;
  --color-sky-glow: #7baeec;
  --color-blue-flare: #4094fa;
  --color-tangerine: #f2822d; */

  --animate-slide-in: slide-in 300ms ease-in forwards;
  --animate-slide-out: slide-out 250ms ease-out forwards;
  --animate-marquee-left-scroll: horizontal-scroll-left var(--marquee-speed)
    linear infinite;
  --animate-marquee-right-scroll: horizontal-scroll-right var(--marquee-speed)
    linear infinite;
  --animate-banner: banner-tilt 3s ease-in-out infinite;

  --animate-float: float 3s ease-in-out infinite;
  @keyframes float {
    0% {
      transform: translateY(0);
      filter: drop-shadow(var(--drop-shadow-xl));
    }
    50% {
      transform: translateY(-10px);
      filter: drop-shadow(var(--drop-shadow-sm));
    }
    100% {
      transform: translateY(0);
      filter: drop-shadow(var(--drop-shadow-xl));
    }
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  @keyframes horizontal-scroll-left {
    to {
      left: calc(-1 * var(--marquee-items-size));
    }
  }

  @keyframes horizontal-scroll-right {
    to {
      right: calc(-1 * var(--marquee-items-size));
    }
  }

  @keyframes banner-tilt {
    0%,
    100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(5px, -5px);
    }
  }
}

@layer base {
  html {
    @apply font-family-instrument scroll-smooth;
  }

  body {
    @apply bg-white;
  }

  button {
    @apply cursor-pointer;
  }

  input,
  textarea {
    @apply block border-1 border-black rounded-md focus-within:outline-1 focus-within:outline-blue-500 focus-within:border-0 w-full px-3 py-2;
  }

  path {
    @apply size-full;
  }

  svg {
    @apply fill-current size-full;
  }
}

@layer components {
}

@layer utilities {
  .hover-underline {
    @apply inline-block relative cursor-pointer;

    &::after {
      @apply absolute bottom-0 left-0 w-full h-0.5 bg-black/80 rounded-xl;
      content: "";
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .hover-scale {
    @apply hover:scale-105 duration-300;
  }

  .hover-tilt {
    @apply transform transition-all duration-200 hover:-translate-y-1 hover:translate-x-1;
  }
}
