@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-family-instrument: "Instrument Sans", "sans-serif", serif;
  --color-primary-light: #ffffff;
  --color-primary-dark: #000000;
  --color-secondary-surface: #dcdcde;
  --color-foreground-primary: #111111;
  --color-foreground-secondary: #f5f5f5;
  --color-foreground-muted: #71717a;
  --color-foreground-gray: #1f2937;
  --color-status-error: #fb2c36;
  --color-status-info: #2b7fff;
  --color-status-success: #22c55e;

  --z-index-header: 10;
  --z-index-dropdown: 20;
  --z-index-sidebar: 30;
  --z-index-modal: 40;
  --z-index-toast: 50;

  --animate-slide-in: slide-in 300ms ease-in forwards;
  --animate-slide-out: slide-out 250ms ease-out forwards;
  --animate-banner: banner-tilt 3s ease-in-out infinite;

  /* using */
  --animate-float: float 3s ease-in-out infinite;
  @keyframes float {
    0% {
      transform: translateY(0);
      filter: drop-shadow(var(--drop-shadow-xl));
    }
    50% {
      transform: translateY(-10px);
      filter: drop-shadow(var(--drop-shadow-sm));
    }
    100% {
      transform: translateY(0);
      filter: drop-shadow(var(--drop-shadow-xl));
    }
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }

  @keyframes banner-tilt {
    0%,
    100% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(5px, -5px);
    }
  }
}

@layer base {
  html {
    @apply font-family-instrument scroll-smooth;
  }

  body {
    @apply bg-primary-light;
  }

  button {
    @apply cursor-pointer;
  }

  path {
    @apply size-full;
  }

  svg {
    @apply size-full;
  }
}

@layer components {
  .contact-form-field {
    @apply block border-1 border-primary-dark rounded-md focus-within:outline-1 focus-within:outline-status-info focus-within:border-0 w-full px-3 py-2;
  }
  .carousel-button {
    @apply bg-primary-dark text-foreground-secondary hover:bg-primary-light hover:border-1 hover:border-primary-dark hover:text-foreground-primary;
  }
}

@layer utilities {
  /* .hover-underline {
    @apply inline-block relative cursor-pointer;

    &::after {
      @apply absolute bottom-0 left-0 w-full h-0.5 bg-black/80 rounded-xl;
      content: "";
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .hover-scale {
    @apply hover:scale-105 duration-300;
  }
*/
  .hover-tilt {
    @apply transition-all duration-200 ease-in-out;
  }
  .form-field-error {
    @apply border-status-error focus-within:outline-status-error;
  }
}
