@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



/*@custom-variant dark (&:where(.dark, .dark *));*/

@theme {
    --font-display: "Roboto", sans-serif;
    --color-black-custom: #090d11;
    --color-beige: #f1d8b7;
    --color-beige-sand: #e2b574;
    --color-beige-bronze: #c69c6d;
    --color-silver-white: #f2f5fb;
    --color-midnight-navy: #0c2646;
    --color-sky-glow: #7baeec;
    --color-blue-flare: #4094fa;

    @keyframes slide-in {
        0% {
            opacity: 0;
            transform: translateY(-1rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes slide-out {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-1rem);
        }
    }
    @keyframes infinite-scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    --animate-slide-down-in: slide-in 200ms ease-in forwards;

    --animate-slide-up-out: slide-out 200ms ease-out forwards;

    --animate-infinite-scroll: infinite-scroll 0s linear infinite;


}

@layer base {
    html {
        @apply scroll-smooth font-display;
    }
    body {
        @apply bg-silver-white min-h-full;
    }
    button {
        @apply cursor-pointer;
    }
}

@layer components {
}

@layer utilities {
    .custom-border {
        @apply border-solid border-1 border-black;
    }
    .interactive-text {
        @apply text-beige uppercase font-bold hover:text-white active:text-white;
    }
    .gradient-beige-to-bronze {
        @apply bg-gradient-to-r from-beige via-beige-sand to-beige-bronze;
    }
    .button-animation {
        @apply active:bg-black-custom hover:bg-black-custom hover:-translate-y-0.5 hover:translate-x-0.5 transform transition-all duration-200;
    }
    .scale-animation {
        @apply hover:scale-105 transition-transform duration-300;
    }
}
