@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



/*@custom-variant dark (&:where(.dark, .dark *));*/

@theme {
    --font-display: "Roboto", sans-serif;
    --color-black-custom: #090d11;
    --color-beige: #f1d8b7;
    --color-beige-sand: #e2b574;
    --color-beige-bronze: #c69c6d;
    --color-silver-white: #f2f5fb;
    --color-midnight-navy: #0c2646;
    --color-sky-glow: #7baeec;
    --color-blue-flare: #4094fa;

    --animate-dropDownIn: dropDownIn 200ms ease-in forwards;
    --animate-dropDownOut: dropDownOut 200ms ease-out forwards;

    @keyframes dropDownIn {
        0% {
            opacity: 0;
            transform: translateY(-1rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes dropDownOut {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-1rem);
        }
    }
}

@layer base {
    html {
        @apply scroll-smooth font-display;
    }
    body {
        @apply bg-silver-white min-h-full;
    }
    button {
        @apply cursor-pointer;
    }
}

@layer components {
    .logo-size {
        @apply w-12 h-12;
    }
    .navbar-size {
        @apply px-6 py-3;
    }
    .drop-down-menu {
        @apply fixed top-0 left-0 w-screen h-svh z-50 bg-midnight-navy text-2xl flex flex-col items-center justify-center gap-16 md:hidden;
    }
}

@layer utilities {
    .nav-item-text {
        @apply text-beige uppercase font-bold tracking-wider hover:text-white active:text-white;
    }
    .custom-border {
        @apply border-solid border-1 border-black
    }
    .gradient-color {
        @apply bg-gradient-to-r from-beige via-beige-sand to-beige-bronze
    }

}
