@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", "Verdana", sans-serif;
    --color-beige: #f1d8b7ff;
    --color-silver: #f2f5fbff;
    --color-navy-blue: #0a294c;
    --color-navy-dark-blue: #0e0e55;
    --color-sky-glow: #7baeecff;
    --color-blue-flare: #4094faff;
    --color-tangerine: #f2822d;

    --animate-slide-in: slide-in 300ms ease-in forwards;
    --animate-slide-out: slide-out 250ms ease-out forwards;
    --animate-marquee-left-scroll: horizontal-scroll-left var(--marquee-speed) linear infinite;
    --animate-marquee-right-scroll: horizontal-scroll-right var(--marquee-speed) linear infinite;

    @keyframes slide-in {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes slide-out {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
    @keyframes horizontal-scroll-left {
        to {
            left: calc(-1 * var(--marquee-items-size));
        }
    }

    @keyframes horizontal-scroll-right {
        to {
            right: calc(-1 * var(--marquee-items-size));
        }
    }
}

@layer base {
    :root {
        --marquee-speed: 30s;
        --marquee-items-size: 9rem;
        --marquee-items-gap: 0.4rem;
    }
    html {
        font-family: var(--font-roboto), serif;
        scroll-behavior: smooth;
    }
    body {
        background-color: var(--color-silver);
    }
    button {
        cursor: pointer;
    }
}

@layer components {
    .hamburger-line {
        @apply w-7 md:w-8 h-1 bg-black rounded-2xl transition-all ease-in-out duration-300 origin-center;
    }
    /*py doesnt work, use mx instead */
    .marquee-track {
        @apply relative h-(--marquee-items-size)  mask-x-from-90% mask-x-to-100% my-1.5;
    }
    .marquee-item {
        @apply absolute bg-white  rounded-lg shadow-xs  flex flex-col justify-center items-center gap-3 size-(--marquee-items-size);
    }
    .marquee-item-img {
        @apply inline-block bg-white p-3 size-6/12;
    }
    .marquee-item-text {
        @apply text-black;
    }
    .about-text {
        @apply py-2 opacity-60 2xl:text-xl leading-8;
    }
}

@layer utilities {
    .hover-underline {
        @apply inline-block relative cursor-pointer;

        &::after {
            @apply absolute bottom-0 left-0 w-full h-0.5 bg-black/80 rounded-xl;
            content: "";
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    .hover-scale {
        @apply hover:scale-105 duration-300;
    }

    .hover-tilt {
        @apply transform transition-all duration-200 hover:-translate-y-1 hover:translate-x-1;
    }

    .corner-top-left::before {
        content: "";
        @apply absolute top-0 left-0 w-5 h-0.5 bg-tangerine;
    }

    .corner-top-left::after {
        content: "";
        @apply absolute top-0 left-0 w-0.5 h-5 bg-tangerine;
    }

    .corner-bottom-right::before {
        content: "";
        @apply absolute bottom-0 right-0 w-5 h-0.5 bg-tangerine;
    }

    .corner-bottom-right::after {
        content: "";
        @apply absolute bottom-0 right-0 w-0.5 h-5 bg-tangerine;
    }

}
